{% extends "base_template.html" %}

{% block title %}About us{% endblock %}

{% block body %}
<body>
    <img src="{{ url_for('static',filename='BiancaBirthday.jpg' ) }}" maxsize="100px">
    <div id="player-stats">
        <h2>Bianca Gonzalez</h2>
        <p>Universidad de Playa Ancha</p>
        <p>Taller Intregrado 2024</p>
        <p>Generacion 2018</p>
        <p>Profesor Miguel Guevara</p>
    </div>

    <canvas id="radarChart" style="max-width: 400px; max-height: 400px;"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const data = {
                labels: [
                    'Kick',
                    'Control',
                    'Technique',
                    'Intelligence',
                    'Pressure',
                    'Agility',
                    'Physical'
                ],
                datasets: [{
                    label: 'Player Stats',
                    data: [
                        100,
                        100,
                        100,
                        100,
                        100,
                        100,
                        100
                    ],
                    backgroundColor: 'rgba(99, 132, 255, 0.2)',
                    borderColor: 'rgb(99, 132, 255)',
                    pointBackgroundColor: 'rgb(99, 132, 255)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(99, 132, 255)'
                }]
            };

            const config = {
                type: 'radar',
                data: data,
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    }
                }
            };

            // Obtener el contexto del canvas y dibujar el gráfico
            var ctx = document.getElementById('radarChart').getContext('2d');
            var radarChart = new Chart(ctx, config);
        });
    </script>
</body>
{% endblock %}