<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        
  <section class="et-hero-tabs">
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="/calculator/">Calculator</a>
      <a class="et-hero-tab" href="/show_characters/">All Charactrers</a>
      <a class="et-hero-tab" href="#">About us</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

        {% block body %}
        {% endblock %}
        
    </body>
</html>