{% extends "base_template.html" %}

{% block title %}Calculator{% endblock %}

{% block body %}

    <input type="number" placeholder="Kick" id="Kick"/>
    <input type="number" placeholder="Control" id="Control"/>
    <input type="number" placeholder="Bond" id="Bond"/>
    <input type="number" placeholder="+AT" id="ExtraAT"/>
    <input type="number" placeholder="Shoot Hissatsu" id="ShootHissatsu"/>
    <input type="checkbox" name="Elemental Advantage" id="ShootAdvantage"/>
    <br>
    <input type="number" placeholder="Agility" id="Agility"/>
    <input type="number" placeholder="Physical" id="Physical"/>
    <input type="number" placeholder="Catch Hissatsu" id="CatchHissatsu"/>
    <input type="number" placeholder="+DF" id="ExtraDF"/>
    <input type="checkbox" name="Elemental Advantage" id="CatchAdvantage"/>
    <input type="number" placeholder="+DF" id="ExtraDF"/>
    <input type="number" placeholder="KP Increase" id="KPincrease"/>

{% endblock %}