{% extends "base_template.html" %}

{% block title %}Victory Road Calculator{% endblock %}

{% block body %}

<div class="Calculator">
    <div class="Calculator_FW">
        <b>Forwards</b><br>
        <img src="{{ url_for('static',filename='None.webp' ) }}" class="responsive" id="FW">
        <br>
        <select id="Kicker" onchange="updateFW()">
            <option> None </option>
            {% for data in players.Players %}
                <option>{{ data.Player }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="number" placeholder="Kick" id="Kick" min="0"/><br>
        <input type="number" placeholder="Control" id="Control" min="0"/><br>
        Technique<br>


        
        
        <select id="ShootHissatsu" onchange="updateFW()" style ="width: 200px;">
            {% for data in players.Shoots %}
                <option>{{ data.Name }}</option>
            {% endfor %}
        </select>
        <br>
        
        +AT<br>
        <input type="number" placeholder="+AT" id="ExtraAT" min="0" style ="width: 100px;"><br>
        Equipment<br>
        <select id="BootsKicker" onchange="updateFW()" style ="width: 250px;">
            {% for data in players.Boots %}
                <option>{{ data.Items }}</option>
            {% endfor %}
        </select>
        <br>
        <select id="BraceletKicker" onchange="updateFW()" style ="width: 250px;">
            {% for data in players.Bracelets %}
                <option>{{ data.Items }}</option>
            {% endfor %}
        </select>
        <br>
        <select id="PendantKicker" onchange="updateFW()" style ="width: 250px;">
            {% for data in players.Pendants %}
                <option>{{ data.Items }}</option>
            {% endfor %}
        </select>
        <br>
        <select id="SpecialKicker" onchange="updateFW()" style ="width: 250px;">
            {% for data in players.Specials %}
                <option>{{ data.Items }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="Calculator_Results_Wrapper">
        <div class="Calculator_Results">
            <div>
                <p id="ShootResult"></p>
                <p id="CatchResult"></p>
                <p id="Remaining_KP"></p>
            </div>
        </div>
        <br>
        <div class="Calculator_Details">
            Bond <br> 
            <input type="number" placeholder="Bond" id="Bond" min="0" max="30" style ="width: 100px;"><br>
            KP Increase<br> 
            <input type="number" placeholder="KP Increase" id="KPincrease" min="0" style ="width: 100px;"><br>
            Lost KP<br> 
            <input type="number" placeholder="Lost KP" id="LostKP" min="0" style ="width: 100px;"><br>
            Direct
            <select id="Direct" onchange="updateFW()" style ="width: 100px;">
                <option> None </option>
                {% for data in players.Players %}
                    <option>{{ data.Player }}</option>
                {% endfor %}
            </select>
            Castle Wall 1<br> 
            <select id="CW1" onchange="updateFW()" style ="width: 100px;">
                <option> None </option>
                {% for data in players.Players %}
                    <option>{{ data.Player }}</option>
                {% endfor %}
            </select>
            Castle Wall 2<br> 
            <select id="CW2" onchange="updateFW()" style ="width: 100px;">
                <option> None </option>
                {% for data in players.Players %}
                    <option>{{ data.Player }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="Calculator_GK">
        <b>Goalkeeper</b><br>
        <img src="{{ url_for('static',filename='None.webp' ) }}" class="responsive" id="GK">
        <br>
        <select id="Catcher" onchange="updateGK()">
            <option> None </option>
            {% for data in players.Players %}
                <option>{{ data.Player }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="number" placeholder="Agility" id="Agility" min="0"/><br>
        <input type="number" placeholder="Physical" id="Physical" min="0"/><br>
        Technique<br>

 
        <select id="CatchHissatsu" onchange="updateGK()" style ="width: 200px;">
            {% for data in players.Catch %}
                <option>{{ data.Name }}</option>
            {% endfor %}
        </select>
        <br>

        +DF<br>
        <input type="number" placeholder="+DF" id="ExtraDF" min="0" style ="width: 100px;"><br>
        Equipment<br>
        <select id="BootsCatcher" onchange="updateGK()" style ="width: 250px;">
            {% for data in players.Boots %}
                <option>{{ data.Items }}</option>
            {% endfor %}
        </select>
        <br>
        <select id="BraceletCatcher" onchange="updateGK()" style ="width: 250px;">
            {% for data in players.Bracelets %}
                <option>{{ data.Items }}</option>
            {% endfor %}
        </select>
        <br>
        <select id="PendantCatcher" onchange="updateGK()" style ="width: 250px;">
            {% for data in players.Pendants %}
                <option>{{ data.Items }}</option>
            {% endfor %}
        </select>
        <br>
        <select id="SpecialCatcher" onchange="updateGK()" style ="width: 250px;">
            {% for data in players.Specials %}
                <option>{{ data.Items }}</option>
            {% endfor %}
        </select>
    </div>
</div>
    
    <script> 
 function calcular() {
        var Kick = parseFloat(document.getElementById("Kick").value) || 0;
        var Control = parseFloat(document.getElementById("Control").value) || 0;
        var Bond = parseFloat(document.getElementById("Bond").value) || 0;
        var ExtraAT = parseFloat(document.getElementById("ExtraAT").value) || 0;
        var ShootHissatsu = parseFloat(document.getElementById("ShootHissatsu").value) || 0;
        var Direct = parseFloat(document.getElementById("Direct").value) || 0;
        var BootsKicker = parseFloat(document.getElementById("BootsKicker").value) || 0;
        var BraceletKicker = parseFloat(document.getElementById("BraceletKicker").value) || 0;
        var PendantKicker = parseFloat(document.getElementById("PendantKicker").value) || 0;
        var SpecialKicker = parseFloat(document.getElementById("SpecialKicker").value) || 0;
        var Agility = parseFloat(document.getElementById("Agility").value) || 0;
        var Physical = parseFloat(document.getElementById("Physical").value) || 0;
        var CatchHissatsu = parseFloat(document.getElementById("CatchHissatsu").value) || 0;
        var ExtraDF = parseFloat(document.getElementById("ExtraDF").value) || 0;
        var KPincrease = parseFloat(document.getElementById("KPincrease").value) || 0;
        var LostKP = parseFloat(document.getElementById("LostKP").value) || 0;
        var CW1 = parseFloat(document.getElementById("CW1").value) || 0;
        var CW2 = parseFloat(document.getElementById("CW2").value) || 0;
        var BootsCatcher = parseFloat(document.getElementById("BootsCatcher").value) || 0;
        var BraceletCatcher = parseFloat(document.getElementById("BraceletCatcher").value) || 0;
        var PendantCatcher = parseFloat(document.getElementById("PendantCatcher").value) || 0;
        var SpecialCatcher = parseFloat(document.getElementById("SpecialCatcher").value) || 0;

        var ShootPower = Kick + Control + BootsKicker + BraceletKicker + PendantKicker + SpecialKicker;
        var FinalShootPower = ((ShootPower + ShootHissatsu + Direct) * (1 + (ExtraAT / 100)) * (1 + (Bond / 100)));
        var CatchPower = (Agility * 6) + (Physical * 3) + BootsCatcher + BraceletCatcher + PendantCatcher + SpecialCatcher;
        var FinalCatchPower = CatchPower + (CatchHissatsu * ExtraDF) + CW1 + CW2 + (CatchPower * (0 + (KPincrease / 100))) - LostKP;
        var GK_Remaining_KP = FinalCatchPower - FinalShootPower;


            // Redondear los resultados a enteros
        FinalShootPower = Math.round(FinalShootPower);
        FinalCatchPower = Math.round(FinalCatchPower);
        GK_Remaining_KP = Math.round(GK_Remaining_KP);
        GK_Remaining_KP = Math.max(GK_Remaining_KP, 0);

        document.getElementById("ShootResult").innerHTML = "Shoot result: " + FinalShootPower;
        document.getElementById("CatchResult").innerHTML = "Catch Result: " + FinalCatchPower;
        document.getElementById("Remaining_KP").innerHTML = "Remaining KP: " + GK_Remaining_KP;
    }

    document.querySelectorAll('input').forEach(input => {
        input.addEventListener('input', calcular);
    });

    calcular();
     
        document.getElementById("ShootResult").innerHTML =
        "Shoot result: " + FinalShootPower;

        document.getElementById("CatchResult").innerHTML =
        "Catch Result: " + FinalShootPower;
        
        function updateFW() {
        var selectedPlayer = document.getElementById("Kicker").value;
        var imageElement = document.getElementById("FW");
        imageElement.src = "{{ url_for('static', filename='') }}" + selectedPlayer + ".webp";
        }

        function updateGK() {
        var selectedPlayer = document.getElementById("Catcher").value;
        var imageElement = document.getElementById("GK");
        imageElement.src = "{{ url_for('static', filename='') }}" + selectedPlayer + ".webp";
        }


        

    </script>
        
    </script>
{% endblock %}