{% macro heading_row(headings) %}
    <tr class="table_header">
        {% for header in heading %}
            <th class="table_cell">{{ header }}</th>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro data_row(data) %}
    {% for row in data %}
        <tr class="table_row">
            {% for cell in row %}
            <td class="table_cell">{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}

{% macro data_table(headings, data) %}
    <table class="table">
        {{ heading_row(headings)}}
        {{ data_row(data)}}
    </table>
{% endmacro %}