{% extends "base_template.html" %}

{% block title %}{{ slug_title }}{% endblock %}

{% block body %}
<body>
    <img src="{{ player['image_url'] }}" alt="{{ player['Player'] }}">
    <div id="player-stats">
        <h2>{{ player.Player }}'s Stats</h2>
        <p>Kick: {{ player.Kick }}</p>
        <p>Control: {{ player.Control }}</p>
        <p>Técnica: {{ player.Technique }}</p>
        <p>Inteligencia: {{ player.Intelligence }}</p>
        <p>Presión: {{ player.Pressure }}</p>
        <p>Agilidad: {{ player.Agility }}</p>
        <p>Físico: {{ player.Physical }}</p>
    </div>

{% endblock %}