{% extends "base_template.html" %}

{% block title %}Victory Road All Characters{% endblock %}

{% block body %}
<div class="container">
    <table class="table">
        <div class="table-header">
            <tr>
                <td>
                    </a><div class="header__item">Name</div>
                </td>
                <td>
                    <div class="header__item">Image</div>
                </td>
                <td>
                    <div class="header__item">Kick</div>
                </td>
                <td>
                    <div class="header__item">Control</div>
                </td>
                <td>
                    <div class="header__item">Technique</div>
                </td>
                <td>
                    <div class="header__item">Intelligence</div>
                </td>
                <td>
                    <div class="header__item">Pressure</div>
                </td>
                <td>
                    <div class="header__item">Agility</div>
                </td>
                <td>
                    <div class="header__item">Physical</div>
                </td>
            </tr>
        </div>

        <div class="table-content">
            {% for data in players.Players %}
            <div class="table-row">
                <tr>
                    <td>
                        <a href="/player/{{ data.Player }}"><div class="table-data">{{ data.Player }}</div></a>
                    </td>
                    <td>
                        <a href="/player/{{ data.Player }}"><img src="{{ url_for('static', filename='{}'.format(data.Image) ) }}"></a>
                    </td>
                    <td>
                        <div class="table-data">{{ data.Kick }}</div>
                    </td>
                    <td>
                        <div class="table-data">{{ data.Control }}</div>
                    </td>
                    <td>
                        <div class="table-data">{{ data.Technique }}</div>
                    </td>
                    <td>
                        <div class="table-data">{{ data.Intelligence }}</div>
                    </td>
                    <td>
                        <div class="table-data">{{ data.Pressure }}</div>
                    </td>
                    <td>
                        <div class="table-data">{{ data.Agility }}</div>
                    </td>
                    <td>
                        <div class="table-data">{{ data.Physical }}</div>
                    </td>
                </tr>
            </div>
            {% endfor %}
        </div>
    </table>
</div>

{% endblock %}